<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Mediscreen</title>
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="display-4 mb-4">Bienvenue sur Mediscreen</h1>
  
  <form id="getPatient">
    <div class="form-group">
      <label for="family" hidden></label>
      <input class="form-control" id="family" placeholder="Family Name" type="text">
    </div>
    <div class="form-group">
      <label for="given" hidden></label>
      <input class="form-control" id="given" placeholder="Given Name" type="text">
    </div>
    <input class="btn btn-success mb-4" type="submit" value="Get patient info">
    <!--    <button class="btn btn-success mb-4" id="updatePatientForm">Update</button>-->
  </form>
  <div id="output"></div>
</div>
<div class="container">
  <h2 class="mb-4">Update Patient</h2>
  <form id="updatePatient">
    <div class="list-group-item">
      <label class="form-label" for="idUp">Id</label>
      <input class="form-control" id="idUp" placeholder="*mandatory"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="familyNameUp">Family Name</label>
      <input class="form-control" id="familyNameUp"
             placeholder="*mandatory"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="givenNameUp">Given Name</label>
      <input class="form-control" id="givenNameUp"
             placeholder="*mandatory"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="birthDateUp">Birthdate</label>
      <input class="form-control" id="birthDateUp"
             placeholder="format: aaaa-mm-dd"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="sexUp">Sex</label>
      <input class="form-control" id="sexUp" placeholder="ex: M"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="addressUp">Address</label>
      <input class="form-control" id="addressUp" placeholder="ex: 001 main St City"
             type="text">
    </div>
    <div class="list-group-item mb-2">
      <label class="form-label" for="phoneUp">Phone</label>
      <input class="form-control" id="phoneUp" placeholder="phone number"
             type="text">
    </div>
    <input class="btn btn-secondary mb-4" type="submit" value="Submit Change">
  </form>
</div>
<div class="container">
  <h2 class="mb-4">Create Patient</h2>
  <form id="createPatient">
    <div class="list-group-item">
      <label class="form-label" for="familyNameCr">Family Name</label>
      <input class="form-control" id="familyNameCr" placeholder="*mandatory" type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="givenNameCr">Given Name</label>
      <input class="form-control" id="givenNameCr" placeholder="*mandatory"
             type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="birthDateCr">Birthdate</label>
      <input class="form-control" id="birthDateCr" placeholder="*mandatory - format: aaaa-mm-dd" type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="sexCr">Sex</label>
      <input class="form-control" id="sexCr" placeholder="*mandatory" type="text">
    </div>
    <div class="list-group-item">
      <label class="form-label" for="addressCr">Address</label>
      <input class="form-control" id="addressCr" placeholder="*mandatory" type="text">
    </div>
    <div class="list-group-item mb-2">
      <label class="form-label" for="phoneCr">Phone</label>
      <input class="form-control" id="phoneCr" placeholder="*mandatory" type="text">
    </div>
    <input class="btn btn-primary mb-4" type="submit" value="Submit Change">
  </form>
</div>
<script>
  document.getElementById('getPatient').addEventListener('submit', getPatient);
  // document.getElementById('updatePatientForm').addEventListener('click', updatePatientForm);
  document.getElementById('updatePatient').addEventListener('submit', updatePatient);
  document.getElementById('createPatient').addEventListener('submit', createPatient)
  
  function getPatient(e) {
    e.preventDefault();
    let family = document.getElementById('family').value;
    let given = document.getElementById('given').value;
    
    fetch(`http://localhost:8081/patient/get?family=${family}&given=${given}`)
      .then((response) => response.json())
      .then((patient) => {
        let output = '<h2 class="mb-4">Patient information</h2>';
        
        output += `
                    <ul class="list-group mb-3" >
                        <li class="list-group-item">Id: ${patient.id}</li>
                        <li class="list-group-item">Family Name: ${patient.familyName}</li>
                        <li class="list-group-item">Given Name: ${patient.givenName}</li>
                        <li class="list-group-item">Birth date: ${patient.birthDate}</li>
                        <li class="list-group-item">Sex: ${patient.sex}</li>
                        <li class="list-group-item">Address: ${patient.address}</li>
                        <li class="list-group-item">Phone: ${patient.phone}</li>
                    </ul>
                    `;
        
        document.getElementById('output').innerHTML = output;
      })
  }
  
  // function updatePatientForm(e) {
  //   e.preventDefault();
  //
  //   let family = document.getElementById('family').value;
  //   let given = document.getElementById('given').value;
  //
  //   fetch(`http://localhost:8081/patient/get?family=${family}&given=${given}`)
  //     .then((response) => response.json())
  //     .then((patient) => {
  //       let outputForm = document.createElement('updatePatient');
  //
  //       outputForm += '<h2 class="mb-4">Update Patient</h2>';
  //
  //       outputForm += `
  //                   <form id="updatePatient">
  //                       <div class="list-group-item" hidden>Id
  //                         <input type="hidden" id="id" class="form-control" placeholder="${patient.id}" value="${patient.id}">
  //                       </div>
  //                       <div class="list-group-item">Family Name
  //                         <input type="text" id="familyName" class="form-control" placeholder="${patient.familyName}" value="${patient.familyName}">
  //                       </div>
  //                       <div class="list-group-item">Given Name
  //                         <input type="text" id="givenName" class="form-control" placeholder="${patient.givenName}" value="${patient.givenName}">
  //                       </div>
  //                       <div class="list-group-item">Birthdate
  //                         <input type="text" id="birthDate" class="form-control" placeholder="${patient.birthDate}">
  //                       </div>
  //                       <div class="list-group-item">Sex
  //                         <input type="text" id="sex" class="form-control" placeholder="${patient.sex}">
  //                       </div>
  //                       <div class="list-group-item">Address
  //                         <input type="text" id="address" class="form-control" placeholder="${patient.address}">
  //                       </div>
  //                       <div class="list-group-item">Phone
  //                         <input type="text" id="phone" class="form-control" placeholder="${patient.phone}">
  //                       </div>
  //                       <input type="submit" class="btn btn-secondary" value="Submit Change">
  //                   </form>
  //                   `;
  //
  //       document.getElementById('output').innerHTML = outputForm;
  //
  //     })
  // }
  
  function updatePatient(e) {
    e.preventDefault();
    
    let id = document.getElementById('idUp').value;
    let familyName = document.getElementById('familyNameUp').value;
    let givenName = document.getElementById('givenNameUp').value;
    let birthDate = document.getElementById('birthDateUp').value;
    let sex = document.getElementById('sexUp').value;
    let address = document.getElementById('addressUp').value;
    let phone = document.getElementById('phoneUp').value;
    
    fetch('http://localhost:8081/patient/update', {
      method: 'PUT',
      headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json'
      },
      body: JSON.stringify({
        id: id,
        familyName: familyName,
        givenName: givenName,
        birthDate: birthDate,
        sex: sex,
        address: address,
        phone: phone
      })
    })
      .then((res) => res.json())
      .then((patient) => {
        let output = '<h2 class="mb-4">Patient information</h2>';
        
        output += `
                    <ul class="list-group mb-3" >
                        <li class="list-group-item">Id: ${patient.id}</li>
                        <li class="list-group-item">Family Name: ${patient.familyName}</li>
                        <li class="list-group-item">Given Name: ${patient.givenName}</li>
                        <li class="list-group-item">Birth date: ${patient.birthDate}</li>
                        <li class="list-group-item">Sex: ${patient.sex}</li>
                        <li class="list-group-item">Address: ${patient.address}</li>
                        <li class="list-group-item">Phone: ${patient.phone}</li>
                    </ul>
                    `;
        
        document.getElementById('output').innerHTML = output;
        document.getElementById('updatePatient').reset();
      })
  }
  
  function createPatient(e) {
    e.preventDefault();
    
    let familyName = document.getElementById('familyNameCr').value;
    let givenName = document.getElementById('givenNameCr').value;
    let birthDate = document.getElementById('birthDateCr').value;
    let sex = document.getElementById('sexCr').value;
    let address = document.getElementById('addressCr').value;
    let phone = document.getElementById('phoneCr').value;
    
    fetch('http://localhost:8081/patient/add', {
      method: 'POST',
      headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json'
      },
      body: JSON.stringify({
        familyName: familyName,
        givenName: givenName,
        birthDate: birthDate,
        sex: sex,
        address: address,
        phone: phone
      })
    })
      .then((res) => res.json())
      .then((patient) => {
        let output = '<h2 class="mb-4">Patient information</h2>';
        
        output += `
                    <ul class="list-group mb-3" >
                        <li class="list-group-item">Id: ${patient.id}</li>
                        <li class="list-group-item">Family Name: ${patient.familyName}</li>
                        <li class="list-group-item">Given Name: ${patient.givenName}</li>
                        <li class="list-group-item">Birth date: ${patient.birthDate}</li>
                        <li class="list-group-item">Sex: ${patient.sex}</li>
                        <li class="list-group-item">Address: ${patient.address}</li>
                        <li class="list-group-item">Phone: ${patient.phone}</li>
                    </ul>
                    `;
        
        document.getElementById('output').innerHTML = output;
        document.getElementById('createPatient').reset();
      })
  }
</script>
</body>
</html>