<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <title>Poseidon</title>-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="row"><h2>Patient Info</h2></div>-->
<!--    <div class="row">-->
<!--        <table class="table table-bordered">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Family name</th>-->
<!--                <th>Given Name</th>-->
<!--                <th>Birth date</th>-->
<!--                <th>Sex</th>-->
<!--                <th>Address</th>-->
<!--                <th>Phone</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="patient : ${patients}">-->
<!--                <td style="width: 10%" th:text="${patient.id}"></td>-->
<!--                <td th:text="${patient.familyName}"></td>-->
<!--                <td th:text="${patient.givenName}"></td>-->
<!--                <td th:text="${patient.birthDate}"></td>-->
<!--                <td th:text="${patient.sex}"></td>-->
<!--                <td style="width: 25%" th:text="${patient.address}"></td>-->
<!--                <td th:text="${patient.home}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->